/* style.css */


  a:hover{color: aqua;} a:active{color:cornflowerblue;}  
    
  
       
       
       .nav {text-decoration: none; font-family: 'Raleway'; font-size: 23px; letter-spacing: 5px; word-spacing: 19px; display: inline-block; text-align: center;  position: absolute; top: 1px; right: 1px ; color: white; margin-top: 55px; margin-right: 50px; } 
       
               .navt {text-decoration: none; font-family: 'Raleway'; font-size: 23px; color: white; } 
        
        
        
               .OG { font-family: 'Josefin Sans'; font-size: 43px; letter-spacing: 5px; word-spacing: 2px; display: inline-block; position: absolute ; width: 200px; height: 300px; top: 2px; left: 2px; color: white; margin-top: 40px ; margin-left: 30px; } 
        
        .Ptitle { font-family:'PT Sans'; font-size: 55px; letter-spacing: 10px; word-spacing: 6px; display: inline-block ; width: 600px; height: 200; color: white; text-align: center; margin-top: 150px; margin-left: 300px;} 
        
                        .Ptitle2 { font-family:'PT Sans'; font-size: 42px; letter-spacing: 2px; word-spacing: 11px; display: inline-block; width: 700px; height: 200px; color: black; margin-left: 242px; margin-top: 100px; text-align: center; opacity: .7;} 

        .Ptitle3 { font-family:'PT Sans'; font-size: 55px; letter-spacing: 10px; word-spacing: 6px; display: inline-block ; width: 600px; height: 200; color: white; text-align: center; margin-top: 150px; margin-left: 340px; opacity: .9;} 

        .Ptitle4 { font-family:'PT Sans'; font-size: 55px; letter-spacing: 10px; word-spacing: 6px; display: inline-block; width: 600px; height: 200; color: white; margin-top: 230px; margin-left: 340px; position: absolute; top: 3px; text-align: center; opacity: .9;} 


            
          .Atitle { font-family: 'Nunito'; letter-spacing: 7px; word-spacing: 8px; font-size: 37px; text-decoration: none; display: inline-block; width: 500px; height: 130px; padding-bottom: 30px; margin-bottom: 90px; text-align: center; margin-left: 300px; margin-right: 200px; }

                       .atitletf {text-decoration: none; font-family: 'Josefin Sans'; font-size: 37px; color: black; } 

    
         p {font-family: 'PT Sans';  font-size: 20px; line-height: 250%; margin-left: 80px; margin-right: 80px; word-spacing: 6px; letter-spacing: 2px; padding-top: 40px; padding-bottom: 40px; margin-top: 30px; margin-bottom: 30px;} 
    
         p.p2 {font-family: 'PT Sans';  font-size: 20px; line-height: 210%; margin-left: 80px; margin-right: 80px; word-spacing: 5px; letter-spacing: 1px; padding-top: 40px; padding-bottom: 40px; margin-top: 30px; margin-bottom: 30px;} 


   h2 {font-family: 'Nunito'; font-size: 33px; letter-spacing: 3px; word-spacing: 2px; color: black;} 


     h3 {font-size: 25px; letter-spacing: 2px; word-spacing: 2px; margin-left: 80px;} 

   h4 {font-family: 'Nunito'; font-size: 26px; letter-spacing: 3px; word-spacing: 2px; color: cyan;} 

    
 h1 {font-family: "Arial Black", Gadget, sans-serif;
        text-align: center; letter-spacing: 4px; word-spacing: 3px; font-size: 40px; border: 8px solid cyan; margin-left: 350px; margin-right: 350px; padding-bottom: 7px; padding-top: 7px;
        }
    
 
    
 footer {font-family: 'Sacramento', cursive; color: turquoise; font-size: 24px; text-align: center; margin-top: 10px; margin-bottom: 18px; padding-bottom: 10px; padding-top: 5px; word-spacing: 3px; letter-spacing: 2px; }

